<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        /* WebKit hack: */
        .webkit:not(*:root) {
            color: red;
        }

@media not all and (min-resolution:.001dpcm) { 
    @media {
        .safari { 
            color:#0000FF!important; 
            background-color:#CCCC99; 
        }
    }
}

    </style>
</head>
<body>
    <p class="webkit safari">
        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Взобравшись рукопись все за лучше дорогу жаренные вдали образ знаках сбить? Использовало последний рукописи большой ipsum образ дорогу вершину пояс.
    </p>
</body>
</html>